.feedback-container {
  align-items: center;
  background: #562c48;
  border: 1.8px solid white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 198px;
  margin: auto;
  width: 424px;
}

.result-header {
  background: #412337;
  border-bottom: 1.8px solid white;
  border-radius: 20px 20px 0 0;
  box-sizing: border-box;
  display: flex;
  font-weight: 800;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.result-header p {
  height: 10px;
}

.feedback-total-score {
  font-weight: 900;
}

.star {
  height: 40px;
}

.stars {
  display: flex;
  justify-content: center;
}