.correct.clicked {
  background: rgba(100, 180, 99, 1);
  border: 3px solid rgb(6, 240, 15);
}

.incorrect.clicked {
  border: 3px solid red;
}

.content-container {
  display: flex;
  justify-content: space-evenly;
}

.answer {
  background: #b0235f;
  border: none;
  border-radius: 11px;
  box-shadow: 1px 4px 3px 2px rgb(0 0 0 / 20%);
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 800;
  height: 40px;
  margin-bottom: 15px;
  padding: 5px;
  transition: all 1s;
  width: 300px;
}

.answer:nth-of-type( 1 ) {
  animation: move 600ms;
}

.answer:nth-of-type( 2 ) {
  animation: move 600ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}

.answer:nth-of-type( 3 ) {
  animation: move 600ms;
  animation-delay: 300ms;
  animation-fill-mode: backwards;
}

.answer:nth-of-type( 4 ) {
  animation: move 600ms;
  animation-delay: 400ms;
  animation-fill-mode: backwards;
}

@keyframes move {

  from {
    opacity: 0;
    transform: translateX(35%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.answer:hover {
  border: 1.8px solid white;
  transform: scale(1.05);
}

.answers-container {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}
