.correct.clicked {
  background: rgba(100, 180, 99, 1);
  border: 3px solid rgb(6, 240, 15);
}

.incorrect.clicked {
  border: 3px solid red;
}

.content-container {
  display: flex;
  justify-content: space-evenly;
}

.answer {
  background: #b0235f;
  border: none;
  border-radius: 11px;
  box-shadow: 1px 4px 3px 2px rgb(0 0 0 / 25%);
  cursor: pointer;
  font-size: 15px;
  font-weight: 800;
  height: 40px;
  margin-bottom: 15px;
  transition: all 1s;
  width: 300px;
}

.answer:hover {
  border: 1.8px solid white;
  transform: scale(1.05);
}

.answers-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
