header {
  align-items: center;
  background: #562c48;
  border: 1.7px solid white;
  border-radius: 12px;
  display: flex;
  font-weight: 800;
  justify-content: space-between;
  padding: 5px;
  width: 400px;
}

header * {
  background: #562c48;
}

.user-info {
  align-items: center;
  display: flex;
}

.header-profile-picture {
  border-radius: 50%;
  height: 45px;
  margin-left: 6px;
  margin-right: 6px;
}

.top-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 60px 40px 60px 60px;
}

.player-score {
  margin-right: 7px;
}
