.question-card {
  background: #562c48;
  border: 1.8px solid white;
  border-radius: 20px;
  height: 198px;
  /* left: 96px; */
  /* position: absolute; */
  /* top: 35vh; */
  width: 424px;
}

.question-card * {
  background: #562c48;
}

.category-section {
  background: #412337;
  border-bottom: 1.8px solid white;
  border-radius: 20px 20px 0 0;
  box-sizing: border-box;
  padding: 10px;
}

.category-section * {
  background: #412337;
}