.question-card {
  animation: moveToRight 600ms;
  background: #562c48;
  border: 1.8px solid white;
  border-radius: 16px;
  height: 198px;
  width: 60vh;
}

.category-section {
  background: #412337;
  border-bottom: 1.8px solid white;
  border-radius: 20px 20px 0 0;
  box-sizing: border-box;
  display: flex;
  font-weight: 800;
  justify-content: center;
  padding: 10px;
}

.category-section span {
  background: #412337;
}

.question-text {
  margin: 10px;
}

@keyframes moveToRight {

  from {
    opacity: 0;
    transform: translateX(-35%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@media screen and ( max-width : 760px ) {

  .question-card {
    width: 45vh;
  }
}

@media screen and ( max-width : 480px ) {

  .category-section {
    font-size: 13.6px;
  }


  .question-card {
    width: 90%;
    height: auto;
    margin: 0 30px 15px;
  }

}