html {
  background-attachment: fixed;
  background-image: url('./images/stacked-steps-haikei (1).png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: Roboto , sans-serif;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and ( max-width : 480px ) {

  html {
    background-attachment: local;
  }

}

label, select {
  cursor: pointer;
}