html {
  background-attachment: fixed;
  background-image: url('./images/stacked-steps-haikei (1).png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: Roboto , sans-serif;
  height: 100%;
}

.trivia-logo {
  height: 90px;
  min-width: 261px;
}
